name: .NET Core Build

on:
  workflow_dispatch:
  push:
    #branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
    tags:
      - 'v*'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Install dependencies
      run: dotnet restore PullRequestQuantifier.sln
      env:
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - name: Build
      run: dotnet build PullRequestQuantifier.sln --configuration Release --no-restore
    
    - name: Test
      run: dotnet test PullRequestQuantifier.sln --configuration Release --no-build --verbosity normal --collect:"XPlat Code Coverage" --settings coverlet.runsettings.xml -r ./coverlet-results

    - name: Upload coverage
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bash <(curl -s https://codecov.io/bash)

    - name: Pack
      if: github.ref == 'refs/heads/main'
      run: dotnet pack PullRequestQuantifier.sln --configuration Release  /p:PublicRelease=true

    # - name: Push package to NuGet
    #   if: github.ref == 'refs/heads/main'
    #   run: dotnet nuget push ./src/Clients/PullRequestQuantifier.Client/bin/Release/PullRequestQuantifier.*.nupkg --api-key ${{ secrets.nugetKey }} --source https://api.nuget.org/v3/index.json

    # - name: Publish local context generator
    #   run: dotnet publish -c Release -r win-x64 --output ./release/PullRequestQuantifier.Local.Context ./src/Clients/PullRequestQuantifier.Local.Context/PullRequestQuantifier.Local.Context.csproj --self-contained=false /p:PublishSingleFile=true
    # - name: Publish local client
    #   run: dotnet publish -c Release -r win-x64 --output ./release/PullRequestQuantifier.Local.Client ./src/Clients/PullRequestQuantifier.Local.Client/PullRequestQuantifier.Local.Client.csproj --self-contained=false /p:PublishSingleFile=true
    
    # - name: Upload release artifacts
    #   if: github.ref == 'refs/heads/main'
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: release
    #     path: release/*
    #todo create release
    #todo upload artifacts to release
