PrQuantified : {{Label}}
Diff         : +{{QuantifiedLinesAdded}} -{{QuantifiedLinesDeleted}} (Formula: {{Formula}})
Percentiles  : +{{AdditionPercentile}}% -{{DeletionPercentile}}% ({{FormulaPercentile}}%)