PrQuantified : {{Label}} | Diff : +{{QuantifiedLinesAdded}} -{{QuantifiedLinesDeleted}} (Formula: {{Formula}}) | Percentiles : +{{PercentileAddition}}% -{{PercentileDeletion}}% ({{FormulaPercentile}}%)