### Pull Request Quantified (<span style="color:{{Color}}">{{Label}}</span>)

{{#IsIdealSize}}
<strong>Great job!</strong>
This PR has `{{FormulaLinesChanged}}` quantified lines of changes. It hits the sweet spot of `{{IdealSizeLowerBound}}` to `{{IdealSizeUpperBound}}` lines for the best PR experience!
{{/IsIdealSize}}
{{^IsIdealSize}}
This PR has `{{FormulaLinesChanged}}` quantified lines of changes. It does not hit the sweet spot of `{{IdealSizeLowerBound}}` to `{{IdealSizeUpperBound}}` lines for the best PR experience!
{{/IsIdealSize}}

------

<details {{CollapsePullRequestQuantifiedSection}}>
    <summary display="inline"> <strong>Quantification details</strong></summary>
    <p />

```
Label      : {{Label}}
Size       : +{{QuantifiedLinesAdded}} -{{QuantifiedLinesDeleted}}
Percentile : {{FormulaPercentile}}%

Total files changed: {{TotalFilesChanged}}

Change summary by file extension:
{{Details}}
```
> Change counts above are quantified counts, based on the [PullRequestQuantifier customizations](https://github.com/microsoft/PullRequestQuantifier/blob/main/docs/prquantifier-yaml.md).
    
</details>


<details>
    <summary display="inline"> <strong>Why proper sizing of changes matters</strong> </summary>
    <p/>
    <p/>

Optimal pull request sizes drive a better predictable PR flow as they strike a
balance between between PR complexity and PR review overhead. PRs within the
optimal size (typical small, or medium sized PRs) mean:

- Fast and predictable releases to production:
  - Optimal size changes are more likely to be reviewed faster with fewer
iterations.
  - Similarity in low PR complexity drives similar review times.
- Review quality is likely higher as complexity is lower:
  - Bugs are more likely to be detected.
  - Code inconsistencies are more likely to be detetcted.
- Knowledge sharing is improved within the participants:
  - Small portions can be assimilated better.
- Better engineering practices are exercised:
  - Solving big problems by dividing them in well contained, smaller problems.
  - Exercising separation of concerns within the code changes.

#### What can I do to optimize my changes

- Use the PullRequestQuantifier to quantify your PR accurately
  - Create a context profile for your repo using the [context generator](https://github.com/microsoft/PullRequestQuantifier/releases)
  - Exclude files that are not necessary to be reviewed or do not increase the review complexity. Example: Autogenerated code, docs, project IDE setting files, binaries, etc. Check out the `Excluded` section from your `prquantifier.yaml` context profile. 
  - Understand your typical change complexity, drive towards the desired complexity by adjusting the label mapping in your `prquantifier.yaml` context profile.
  - Only use the labels that matter to you, [see context specification](./docs/prquantifier-yaml.md) to customize your `prquantifier.yaml` context profile.
- Change your engineering behaviors
  - For PRs that fall outside of the desired spectrum, review the details and check if:
    - Your PR could be split in smaller, self-contained PRs instead
    - Your PR only solves one particular issue. (For example, don't refactor and code new features in the same PR).

#### How to interpret the change counts in git diff output

- One line was added: `+1 -0`
- One line was deleted: `+0 -1`
- One line was modified: `+1 -1` (git diff doesn't know about modified, it will
interpret that line like one addition plus one deletion)
- Change percentiles: Change characteristics (addition, deletion, modification)
of this PR in relation to all other PRs within the repository.

</details>

<p />

------

Was this comment helpful? <a href="{{FeedbackLinkUp}}" target="_blank" title="Thumbs up"><strong>:thumbsup:</strong></a> <a href="{{FeedbackLinkNeutral}}" target="_blank" title="Neutral"><strong>&nbsp;:ok_hand:</strong></a> <a href="{{FeedbackLinkDown}}" target="_blank" title="Thumbs down"><strong>&nbsp;:thumbsdown:</strong></a> (<a href="MAILTO:prquant@microsoft.com" title="Mail to prquant@microsoft.com">Email</a>)
[Customize PullRequestQuantifier]({{ContextFileLink}}) for this repository.

